@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap');

body {
  background: black;
}

.App {
  text-align: center;
  color: white;
}

.botonderecha {
  display: flex;
  justify-content: flex-end;
  color: aliceblue;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 600;
}

.navbar {
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px; /* Elimina relleno (padding) */
}

a {
  text-decoration: none; /* Elimina el subrayado */
  color: #007bff; /* Cambia el color del texto normal a azul (ejemplo) */
}

/* Estilo para los enlaces cuando se encuentran en hover */
a:hover {
  text-decoration: underline; /* Añade subrayado en hover */
  color: #ff6600; /* Cambia el color en hover (ejemplo) */
}

.container {
  display: flex;
  justify-content: space-between; /* Esto separa los elementos al máximo en el contenedor */
  align-items: center;
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  margin: 0; /* Elimina márgenes */
  padding: 0; /* Elimina relleno (padding) */
}

.logo {
  padding-left: 0;
}

.button {
  margin: 5px;
  border-radius: 45px;
}

.buttonLong {
  margin: 5px;
  border-radius: 45px;
  background-color: teal;
  border-color: teal;
  font-size: 1.5rem;
}

.buttonShort {
  margin: 5px;
  border-radius: 45px;
  background-color: red;
  border-color: red;
  font-size: 1.5rem;
}

.App-header {
  background-color: #60b2e8;
  background-image: linear-gradient(135deg, #60b2e8 0%, #9599E2 100%);
  padding: 6rem 0 8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
}

.App-header h1 {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

.App-header p {
  margin-top: .5rem;
  font-size: 1.25rem;
}

.App-link {
  color: #61dafb;
}

.App-content {
  max-width: 60rem;
  margin: auto;
  text-align: left;
}

.container2 {
  display: flex; /* Utiliza un contenedor flexible */
  justify-content: space-between; /* Espaciado entre las columnas */
  align-items: center; /* Centra verticalmente los elementos en las columnas */
}

.column2 {
  flex: 1; /* Cada columna toma un tercio del ancho disponible */
  padding: 20px; /* Espacio entre el contenido y el borde de la columna */
 margin: 5px;
}